<div class="container">
	<h3>Customers</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>		
		</thead>
		<tbody>
		<% customers.forEach(function(customer) {  %>	  
			<tr>
				<td><%= customer.id %></td>
				<td><%= customer.name %></td>
				<td><%= customer.email %></td>
				<td><a href="/customer/show/<%= customer.id %>">Show</a></td>
				<td><a href="/customer/edit/<%= customer.id %>">Edit</a></td>
				<td><a href="/customer/destroy/<%= customer.id %>">Delete</a></td>
				<td></td>
				<td></td>
			</tr>	  
		<% }); %>
		</tbody>
	</table>
</div>
