<div class="container">
	<h3>Customers</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>		
		</thead>
		<tbody>
		<% customers.forEach(function(customer) {  %>	  
			<tr>
				<td><%= customer.id %></td>
				<td><%= customer.name %></td>
				<td><%= customer.email %></td>
				<td><a class="btn btn-info" href="/customer/show/<%= customer.id %>">Show</a></td>
				<td><a class="btn btn-warning" href="/customer/edit/<%= customer.id %>">Edit</a></td>
				<td><a class="btn btn-danger" href="/customer/destroy/<%= customer.id %>">Delete</a></td>
			</tr>	  
		<% }); %>
		</tbody>
	</table>
	<table>
		<tr>
			<td>
				<a class="btn btn-primary" href="/customer/new">Create Customer</a>
				<a class="btn btn-primary" href="/">Go Home</a>
			</td>
		</tr>
	</table>
</div>
